// Colors
// ========================================

$almost-black: #3F3F3F;
$purple: #5522FA;
$soft-red: #FD5E5E;
$orange: #FDAD00;
$green: #B6CA94;
$soft-blue: #8EC1F3;
$background-blue: #e0eefb;

// Sizes and directions
// ========================================

$spacer-smaller: 0.5rem;
$spacer-small: 1rem;
$spacer: 1.5rem;
$spacer-big: 3rem;
$spacer-bigger: 8rem;

$sizes: (
  0:      0,    
  1:      $spacer-smaller,
  2:      $spacer-small,
  3:      $spacer,
  4:      $spacer-big,
  5:      $spacer-bigger,  
);

$directions: (
  "":        "",
  "-top":    "t",
  "-bottom": "b",
  "-left":   "l",
  "-right":  "r"
);