@import "../../styles/variables.scss";

.intro_container {
  margin: $spacer-big 0;
}

.intro {
  max-width: 60rem;
  font-weight: 400;  
}

@media screen and (max-width: 870px) {
  .intro_container {
    margin: $spacer 0;
  }

  .intro {
    font-size: 40px;
    max-width: none;

  }
}